.ToggleBar {
  box-shadow: #707070 1px 1px 8px;
  border-radius: .5rem;
  padding: .5rem;
  width: 50%;
  margin: auto;
}

.buttonBar {
  position: relative;
}

.buttonsWrapper {
  display: flex;
  overflow: hidden;
  position: relative;
}

.button {
  z-index: 1;
  padding: .8rem;
  border-radius: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  box-sizing: content-box;
}

.button:not(:last-child) {
  margin-right: 1rem;
}

.buttonActive {
  color: var(--color-light);
}
