.ToggleBar {
  box-shadow: #707070 1px 1px 8px;
  border-radius: .5rem;
  padding: .5rem;
  width: 50%;
  margin: auto;
}

.buttonBar {
  position: relative;
}

.buttonsWrapper {
  display: flex;
  overflow: hidden;
  position: relative;
}
